form {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question_icon {
  background-image: url("../../assets/quest.png");
}

.clone_icon {
  background-image: url("../../assets/clone.png");
}
.remove_icon {
  background-image: url("../../assets/remove.png");
}

span[class$="_icon"] {
  vertical-align: text-bottom;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  cursor: pointer;
}
.removable {
  display: flex;
  align-items: flex-end;
  margin: 0 3px 3px 0;
}
.array_field {
  display: flex;
  flex-direction: column;
}
